<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log İşlemleri</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(187, 181, 181);">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">Log İşlemleri</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a class="nav-link active disabled-link">Log İşlemleri</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link " (click)="KullaniciIslemleri($event)">Kullanıcı İşlemleri</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" (click)="MevcutTasinmazlar($event)">Mevcut Taşınmazlar Listesi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-end mt-3 me-3">
        <button type="button" class="btn btn-danger btn-sm" (click)="Cikis($event)">
            <i class="fa fa-sign-out-alt me-1"></i> Çıkış
        </button>
    </div>
    <form [formGroup]="form">
        <div class="container-fluid top-bar mt-3 p-3 bg-light rounded shadow-sm">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">

                <div class="d-flex flex-wrap gap-2 flex-grow-1 justify-content-center align-items-end">

                    <div class="form-group">
                        <label class="form-label">Durum</label>
                        <select class="form-select form-select-sm" formControlName="durum">
                            <option value="">Tümü</option>
                            <option *ngFor="let d of durumList" [value]="d">{{ d }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">İşlem Tipi</label>
                        <select class="form-select form-select-sm" formControlName="islemTipi">
                            <option value="">Tümü</option>
                            <option *ngFor="let i of islemTipiList" [value]="i">{{ i }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Tarih Saat</label>
                        <select class="form-select form-select-sm" formControlName="tarihSaat">
                            <option value="">Tümü</option>
                            <option *ngFor="let t of tarihSaatList" [value]="t">{{ t }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">IP</label>
                        <select class="form-select form-select-sm" formControlName="ip">
                            <option value="">Tümü</option>
                            <option *ngFor="let ip of ipList" [value]="ip">{{ ip }}</option>
                        </select>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-secondary btn-sm" (click)="Temizle($event)">
                        <i class="fa fa-eraser me-1"></i> Temizle
                    </button>
                </div>

            </div>
        </div>
    </form>


    <div class="table-wrapper mt-4">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Durum</th>
                    <th>İslemi Yapan</th>
                    <th>İşlem Tipi</th>
                    <th>Tarih/Saat</th>
                    <th>Ip</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody id="log-body">
                <tr *ngFor="let t of loglar">
                    <td><input type="checkbox" [(ngModel)]="t.selected" /></td>
                    <td>{{ t.durum }}</td>
                    <td>{{ t.kullaniciId}}</td>
                    <td>{{ t.islemTipi }}</td>
                    <td>{{ t.tarihSaat }}</td>
                    <td>{{ t.ip}}</td>
                    <td>{{ t.aciklama }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav *ngIf="totalCount > pageSize" aria-label="Sayfalama" class="mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="SayfaDegistir(currentPage - 1)">‹</button>
            </li>

            <li class="page-item" *ngFor="let sayfa of [].constructor(ToplamSayfa()); let i = index"
                [class.active]="currentPage === i + 1">
                <button class="page-link" (click)="SayfaDegistir(i + 1)">{{ i + 1 }}</button>
            </li>

            <li class="page-item" [class.disabled]="currentPage === ToplamSayfa()">
                <button class="page-link" (click)="SayfaDegistir(currentPage + 1)">›</button>
            </li>
        </ul>
    </nav>

    <div class="container mb-4">
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-dark" (click)="Yazdir($event)">
                <i class="fa fa-file-alt me-1"></i> Yazdır
            </button>
        </div>
    </div>
</body>